[core]
	ignorecase = false
	editor = code --wait
[user]
	name = devrnt
	email = devrient.jonas@gmail.com
	signingkey = /Users/jonas/.ssh/id_ed25519_private.pub
[pull]
	rebase = false
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
