[core]
	ignorecase = false
	editor = code --wait
[pull]
	rebase = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = main

[user]
  useConfigOnly = true

# optional (if you sometimes work outside of your regular directories)
[include]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/dev/artion/"]
  path = ~/.gitconfig.work

[includeIf "gitdir:~/dev/personal/"]
  path = ~/.gitconfig.personal